body{background:#fff;}
.dm-light{background:#fff;}
.header_wrap{background:#fff;}


.navbar .navbar-nav > li > a,
.navbar-brand {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.navbar-inverse {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#04519b), color-stop(60%, #044687), to(#033769));
    background-image: -webkit-linear-gradient(#04519b, #044687 60%);
    background-image: -moz-linear-gradient(top, #04519b, #044687 60%, #033769);
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    background-repeat: no-repeat;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff04519b', endColorstr='#ff033769', GradientType=0);
    filter: none;
}

.navbar-inverse {
	background:#ffffff;	
}

.navbar {
    background-color: #ffffff;
	padding-top:2%;
}

.navbar .navbar-brand {
    color: #ffffff;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffffff;
    background-color: none;
}

.navbar .navbar-text {
    color: #777777;
}

.navbar .navbar-nav > li > a {
    color: #ffffff;
    }

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #2d6ca2;
}

.navbar .navbar-nav > .active > a,
.navbar .navbar-nav > .active > a:hover,
.navbar .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #2d6ca2;
}

.navbar .navbar-nav > .disabled > a,
.navbar .navbar-nav > .disabled > a:hover,
.navbar .navbar-nav > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
}

.navbar-toggle {
    width:24px; height: 24px;
    background: url(img/i_menu.svg) no-repeat;
    background-size: 100%;
    border:none;
    margin:4px 0 0 0;
}

.navbar-toggle .icon-bar {
}

.navbar-collapse,
.navbar .navbar-form {
    border-color: #1993d9;
}

.navbar .navbar-nav > .dropdown > a:hover .caret,
.navbar .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar .navbar-nav > .open > a,
.navbar .navbar-nav > .open > a:hover,
.navbar .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #2d6ca2;
}

.navbar .navbar-nav > .open > a .caret,
.navbar .navbar-nav > .open > a:hover .caret,
.navbar .navbar-nav > .open > a:focus .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar .navbar-nav > .dropdown > a .caret {
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.navbar-inverse .navbar-link {
color: #ffffff;
}

.navbar-inverse .navbar-link:hover {
color: #ffffff;
}


.btn-primary {
color: #ffffff;
background-color: #428bca;
border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
color: #ffffff;
background-color: #3276b1;
border-color: #285e8e;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
background-color: #428bca;
border-color: #357ebd;
}

.btn-primary {
background-image: -webkit-gradient(linear, left 0%, left 100%, from(#428bca), to(#3071a9));
background-image: -webkit-linear-gradient(top, #428bca, 0%, #3071a9, 100%);
background-image: -moz-linear-gradient(top, #428bca 0%, #3071a9 100%);
background-image: linear-gradient(to bottom, #428bca 0%, #3071a9 100%);
background-repeat: repeat-x;
border-color: #2d6ca2;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}

.btn-primary:active,
.btn-primary.active {
background-color: #3071a9;
border-color: #2d6ca2;
}

.navbar-header {
}

.navbar-toggle-always {
    display: block!important;
    background-color: transparent;
    border:0;
    float:left;
    margin-left:5px;
    position:absolute;
}

.navbar-right-always {
    display: block!important;
    background-color: transparent;
    right:5px;
    top:10px;
    position:absolute;
}

.navbar-brand.title {
    border:1px solid #000;
    margin:13px 0 0 0;
    padding:0;
    text-align:center;
}

.navbar-brand.title a {
    color:#fff;
}



.navbar-toggle .icon-bar {
    height:1px;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top:6px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    background: #fff;
    padding:0 5%;
    box-shadow:0 0 0;
    height:65px;
    width:100%;
    background: #fff;
    margin-bottom:0;
}
.navbar_wrap{
    position:fixed;
    top:0; left:0;
    width:100%;
    background: #fff;
    z-index: 9000;
    height:60px;
}
.navbar::before{display: none;}
.navbar::after{display: none;}
.navbar-toggle {
}

/* 로고 */
.logo_img {
    clear:both;
    display: block;
    font-size:0;
    margin:0; padding:0;
}

/*상단배너*/
.new_top_banner{
    width:100%;
    height:45px;
    color:#fff;
    padding:0 20px;
    font-size:14px;
    display: none;
}
.new_top_banner_ad{
    width:100%;
    height:45px;
}
.new_top_banner_ad img{
    width:100%
}

/*하단배너*/
.new_bottom_banner{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    z-index: 8000;
    display:none;
    height:280px;
}
.new_bottom_banner .daily_best{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:138px;
    background: #FFFFFF;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 12px;
    -webkit-border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -webkit-border-top-right-radius: 12px;
}
.new_bottom_banner .tag{
    color:#fff;
    font-size:12px;
    font-weight: 700;
    display: inline-block;
    background:#FF6600;
    border-radius: 20px;
    padding:6px 10px;
    margin:10px 5%;
}
.new_bottom_banner .tag a{
    color:#fff;
}
.new_bottom_banner .subject{
    font-size:16px;
    font-weight: 700;
    line-height: 2;
    white-space: nowrap;
    width:80vw;
    overflow: hidden;
    text-overflow: ellipsis;
    padding:0 20px;
}
.new_bottom_banner .info{
    color:#9394A4;
    font-size: 12px;
    font-weight: 400;
    border:none;
    padding:0;
    margin:0;
    padding:0 20px;
}
.new_bottom_banner .info > div{
    margin-right:10px;
}
.new_bottom_banner .exit{
    text-indent: -9999px;
    background:none;
    border:none;
    position:absolute;
}
.new_bottom_banner .thumb{
    width:48px;
    height:48px;
    border-radius: 4px;
    margin-top:30px;
    margin-right:5%;
    overflow: hidden;
    position: relative;
}
.new_bottom_banner .thumb img{
    position:absolute;
    width:150%;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}
.new_bottom_banner .kakao_sync_popup{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:280px;
    background: #FFFFFF;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 12px;
    -webkit-border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    -webkit-border-top-right-radius: 12px;
    padding:20px;
}
.new_bottom_banner .kakao_sync_popup .txt h3{
    font-size:16px; font-weight: 400; text-align: center; margin-top:20px;
}
.new_bottom_banner .kakao_sync_popup .txt h4{
    font-size:16px; font-weight: 700; text-align: center;
}
.new_bottom_banner .kakao_sync_popup .btns{
    margin-top:20px;
}
.new_bottom_banner .kakao_sync_popup .btn-kakao-join{
    background: #fae300;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 60px;
}
.new_bottom_banner .kakao_sync_popup .btn-kakao-join img{
    width: 25px;
    height: 23px;
    margin-right: 10px;
}
.new_bottom_banner .kakao_sync_popup .register_email{
    background: #6438eb;
    padding: 12px 22px;
    font-size: 16px;
    border-radius: 60px;
    color: #fff;
    display: block;
    margin: 15px 0;
}
.new_bottom_banner .kakao_sync_popup .register_email img{
    width: 25px;
    height: 23px;
    margin-right: 10px;
}
.new_bottom_banner .kakao_sync_popup .txtlink{
    font-size:12px; text-align: center; text-display: none; display: block;
}


.flex_origin{display: flex; align-items: center}